/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  background: url('../../aset/backgrounRekomendasi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.teksatas{
  margin-top: 70px;
  margin-bottom: 20px;
  color: white;
}
.slide-container{
  max-width: 1200px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: white;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: chocolate;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color:chocolate;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: white;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #874400;
}
.keterangan{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.deskripsi{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  width: 150px;
  position: fixed;
  top: 330px;
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #7d4b00;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #f29d26;
}

.swiper-navBtn{
  color: #000000;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #000000;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}

#footer{
  background-color: #FFFFFF;
  color: #000;
  padding: 20px 50px 20px 50px;
  text-align: right;
  border-top: 1px solid #d6d6d6;
  margin-top: 50px;
}


@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}